<!--{{processList()| json}} -->
@if (processData.hasValue()){
  <button (click)="onRefreshData()" class="btn-refresh">rfrsh</button>
  <table>
    <thead>
      <tr>
        <th>ID</th> <!-- column header -->
        <th>NAME</th>
        <th>DURATION</th>
      </tr>
    </thead>
    <tbody>
      @for (process of processList(); track process.id) {
        <tr>
          <td>{{ process.id }}</td>   <!-- column value-->
          <td>{{ process.name}}</td>
          <td>{{ process.duration}} hours</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5">No Data Found.</td>
        </tr>
      }
    </tbody>
</table>
} @else if (processData.error()) {
  <div> Could not load information</div>
} @else if (processData.isLoading()) {
  <div>Loading info...</div>
}