<mat-card class="table-card">
  <mat-card-header>
    <mat-card-title>Definierte Fertigungsschritte</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (processStepData.hasValue()) {
      <div class="table-container">
        <table class="clean-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Reihenfolge (Order)</th>
              <th>Letzter Schritt?</th>
            </tr>
          </thead>
          <tbody>
            @for (process of processStepList(); track process.id) {
              <tr>
                <td class="font-mono">{{ process.id }}</td>
                <td>{{ process.step_order }}</td>
                <td>
                  @if (process.is_last) {
                    <span>Ja</span>
                  } @else {
                    <span class="text-muted">Nein</span>
                  }
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="3" class="state-cell empty">
                  Keine Fertigungsschritte gefunden.
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else if (processStepData.error()) {
      <div class="state-box error">
        Informationen konnten nicht geladen werden.
      </div>
    } @else if (processStepData.isLoading()) {
      <div class="state-box loading">
        Daten werden geladen...
      </div>
    }
  </mat-card-content>
</mat-card>