<div class="form-container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Prozessschritt erfassen</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="process-inline-form">
        
        <!-- Step ID -->
        <mat-form-field appearance="outline">
          <mat-label>Step ID</mat-label>
          <input matInput type="number" formControlName="step_id" placeholder="1" />
        </mat-form-field>

        <!-- Menge (amount) -->
        <mat-form-field appearance="outline">
          <mat-label>Menge (amount)</mat-label>
          <input matInput type="number" formControlName="amount" placeholder="100" />
        </mat-form-field>

        <!-- Dauer (duration) -->
        <mat-form-field appearance="outline">
          <mat-label>Dauer in Std.</mat-label>
          <input matInput type="number" formControlName="hours" placeholder="1" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dauer in Min.</mat-label>
          <input matInput type="number" formControlName="minutes" placeholder="1" />
        </mat-form-field>

<mat-form-field appearance="outline" class="date-field">
  <mat-label>Produktionsdatum</mat-label>
  
  <input 
    matInput 
    [matDatepicker]="picker" 
    formControlName="produced_at" 
    [max]="maxDate"
    placeholder="TT.MM.JJJJ" 
  />
  
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  @if (form.get('produced_at')?.hasError('required')) {
    <mat-error>Bitte wähle ein Produktionsdatum aus</mat-error>
  }
</mat-form-field>        

        <!-- Anlegen Button ganz rechts -->
        <button 
          mat-flat-button 
          color="primary" 
          type="submit" 
          [disabled]="form.invalid"
          class="submit-btn"
        >
          Anlegen
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>